@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wraper">
    <!-- Sidebar Menusu -->
    <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
            <i class="fa fa-times" id="menu-close"></i>
            <div class="container">
                <div class="image">
                    <a href="#"><img src="~/assets/images/my-image.jpg" alt="" /></a>
                </div>
                <div class="author-content">
                    <h4>Berkant Yigit Dogan</h4>
                    <span>Ögrenci</span>
                </div>
                <nav class="main-nav" role="navigation">
                    <ul class="main-menu">
                        <li><a href="#section1">Hakkımda</a></li>
                        <li><a href="#section2">Deneyimlerim</a></li>
                        <li><a href="#section3">Çalısmalarım</a></li>
                        <li><a href="#section4">İletişime geç</a></li>
                    </ul>
                </nav>
                <div class="social-network">
                    <ul class="soial-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/berkant-yi%C4%9Fit-do%C4%9Fan-833085205/"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/theberkantyigit/"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/BayKus1"><i class="fa fa-github"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="section about-me" data-section="section1">
        <div class="container">
            <div class="section-heading">
                <h2>Hakkımda</h2>
                <div class="line-dec"></div>
                <span>
                    Selam degerli okuyan. Ben Berkant Yigit Dogan. 23 Agustos 2001'de
                    Trabzonda dogdum.Haliyle şu an 22 yasındayım. İstanbulda yasıyorum.
                    Bu kadar bilginin ardından hemen söze giriyorum :)
                </span>
            </div>
            <div class="left-image-post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left-image">
                            <img src="~/assets/images/sol-image.png" alt="" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-text">
                            <h4>Akademik Hedeflerim</h4>
                            <p>
                                Gazi Üniversitesi 3. Sınıf ögrencisiyim. Kendime
                                makine ögrenmesi, işlemsel zeka, derin ögrenme
                                gibi beceriler katmak istiyorum. Yazılım alanında 5
                                aylık bir tecrübeye sahibim. Biliyorum ki bunlar henuz bir
                                baslangıç ama söyle bir soz vardır. "No Code, No Pain" :)
                                Sıkı calısmaya devam...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-image-post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left-text">
                            <h4>Hayaller Olmazsa Olmaz</h4>
                            <p>
                                Bizleri hayata baglayan seyler hayaller ve umutlardır.
                                Benim hayallerimin ilk sırasında kesinlikle baska bir
                                ülkeyi gezip görmek geliyor. Atmosfer degisimini hep
                                merak ettim. Elbette orada yasamayı da çok istiyorum.
                                Bir o kadar da çok istedigim: Evden yabancı ülkelerdeki
                                firmalarda çalısmak. Bana her zaman cazip geldi. Bu sekilde
                                çalısanları görmek beni tuhaf hissettiriyor. AAA söylemeyi
                                unuttum. Lunaparklardaki hız trenlerini cok merak ediyorum.
                                Türkiyedekiler neden bilmem sizce de çok yavas degiller mi? 
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-image">
                            <img src="~/assets/images/right-image.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section my-services" data-section="section2">
        <div class="container">
            <div class="section-heading">
                <h2>Deneyimlerim</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="service-item">
                        <div class="first-service-icon service-icon"></div>
                        <h4>Stajyer, Logo Yazılım, İstanbul</h4>
                        <p>
                            Tem 2022 - Eyl 2022 </br>
                            Docker Desktop ve PowerShell kullanarak temel komutları öğrendim.
                            .Net üzerinden bir tane yemek tarif sitesi geliştirdim. Dart ile
                            Flutter'da widget yapılarını ve API response işlemlerini gördüm.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item">
                        <div class="second-service-icon service-icon"></div>
                        <h4>Medya Pazarlama Uzmanı, Oropa Medya, İstanbul</h4>
                        <p>
                            May 2021 - Haz 2021 </br>
                            İnsanlarla iletişimimi güçlendirdiğim bir süreç oldu. Pazarlama stratejileri
                            hakkında temel bilgi sahibi oldum.
                        </p>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="service-item">
                        <div class="fourth-service-icon service-icon"></div>
                        <h4>Stajyer, Otokoç, İstanbul</h4>
                        <p>
                            Tem 2018 - Ağu 2018 </br>
                            Bilgisayarların teknik sorunlarını çözmede rol aldım. Algoritma eğitimleri
                            aldım. Teknoloji reklamları içeren web sitesi geliştirdim.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section my-work" data-section="section3">
        <div class="container">
            <div class="section-heading">
                <h2>Çalısmalarım</h2>
                <div class="line-dec"></div>
                <span>
                    Daha önceden ve şu anda ugraştıgım bazı projeler
                </span>
            </div>
            <div class="row">
                <div class="isotope-wrapper">
                    <form class="isotope-toolbar">
                        <label>
                            <input type="radio"
                                   data-type="*"
                                   checked=""
                                   name="isotope-filter" />
                            <span>Hepsi</span>
                        </label>
                        <label>
                            <input type="radio"
                                   data-type="yapayZeka"
                                   name="isotope-filter" />
                            <span>Yapay Zeka</span>
                        </label>
                        <label>
                            <input type="radio"
                                   data-type="veritabanı"
                                   name="isotope-filter" />
                            <span>Veritabanı</span>
                        </label>
                        <label>
                            <input type="radio"
                                   data-type="mobil"
                                   name="isotope-filter" />
                            <span>Mobil</span>
                        </label>
                    </form>
                    <div class="isotope-box">
                        <div class="isotope-item" data-type="yapayZeka">
                            <figure class="snip1321">
                                <img src="~/assets/images/brain.jpg"
                                     alt="sq-sample26" />
                                <figcaption>
                                    <a href="~/assets/images/brain.jpg"
                                       data-lightbox="image-1"
                                       data-title="Caption">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <h4>IMR</h4>
                                    <span>MR görüntülerinden lezyon teshisi koyan uygulama</span>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="isotope-item" data-type="veritabanı">
                            <figure class="snip1321">
                                <img src="~/assets/images/library.jpg"
                                     alt="sq-sample26" />
                                <figcaption>
                                    <a href="~/assets/images/library.jpg"
                                       data-lightbox="image-1"
                                       data-title="Caption">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <h4>Kütüphane Otomasyonu</h4>
                                    <span>Kullanıcının sorgulama,alma,bırakma,üye olma vb gibi islemler yaptıgı uygulama</span>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="isotope-item" data-type="mobil">
                            <figure class="snip1321">
                                <img src="~/assets/images/students.jpg"
                                     alt="sq-sample26" />
                                <figcaption>
                                    <a href="~/assets/images/students.jpg"
                                       data-lightbox="image-1"
                                       data-title="Caption">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <h4>Ögrenci Takip Sistemi</h4>
                                    <span>Flutterla ögrencilerin durumunu kontrol eden uygulama</span>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="isotope-item" data-type="veritabanı">
                            <figure class="snip1321">
                                <img src="~/assets/images/pizza.jpg"
                                     alt="sq-sample26" />
                                <figcaption>
                                    <a href="~/assets/images/pizza.jpg"
                                       data-lightbox="image-1"
                                       data-title="Caption">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <h4>Siparis Olusturma Sistemi</h4>
                                    <span>Pizza sirketinin siparis sistemi uygulaması</span>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section contact-me" data-section="section4">
        <div class="container">
            <div class="section-heading">
                <h2>İletisime Gec</h2>
                <div class="line-dec"></div>
            </div>
            <div class="row">
                <div class="right-content">
                    <div class="container">
                        <form id="contact" action="@Url.Action("Index", "Home")" method="post">

                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <input name="name"
                                               type="text"
                                               class="form-control"
                                               id="name"
                                               placeholder="Adın..."
                                               required="" />
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <input name="email"
                                               type="text"
                                               class="form-control"
                                               id="email"
                                               placeholder="Emailin..."
                                               required="" />
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <input name="subject"
                                               type="text"
                                               class="form-control"
                                               id="subject"
                                               placeholder="Konu..."
                                               required="" />
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <textarea name="message"
                                                  rows="6"
                                                  class="form-control"
                                                  id="message"
                                                  placeholder="Mesajın..."
                                                  required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="button">
                                            Gönder
                                        </button>
                                    </fieldset>
                                </div>

                                <div class="col-md-12">
                                    <fieldset>
                                        <br/>
                                        <button type="button" id="login-button" class="button">
                                            Admin Girisi
                                        </button>
                                    </fieldset>
                                </div>

                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

