@{
	ViewData["Title"] = "Error";
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="~/assets/css/email.css" />
	<link rel="stylesheet" href="~/assets/css/fontawesome.css" />
</head>
<body>

    <h1>E-mail Başarıyla Gönderildi</h1>
	<p>E-mailiniz başarıyla gönderilmiştir. Teşekkür ederim!</p>
	<a href="@Url.Action("Index", "Home")">Ana Sayfa'ya Dön</a>

</body>
</html>